.trailer-preview {
  background-color: #ff3d49;
  position: absolute;
  top: 395px;
  right: 18px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: white;
  font-size: 24px;
  text-align: center;
  padding-top: 13px;
}

@media (max-width: 640px) {
  .trailer-preview {
    width: 45px;
    height: 45px;
    font-size: 18px;
    padding-top: 10px;
    right: 12px;
    top: 280px;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .trailer-preview {
    width: 50px;
    height: 50px;
    font-size: 20px;
    padding-top: 11px;
    right: 15px;
    top: 320px;
  }
}

.trailer-preview:hover,
.trailer-preview:disabled,
.trailer-preview:active,
.trailer-preview:focus {
  background-color: #c41200;
  color: white;
}
.trailer-preview i {
  margin-left: 5px;
}

.metadata {
  background: none;
  padding: 0;
  position: relative;
  border-style: none;
  font-size: 16px;
}

@media (max-width: 640px) {
  .metadata {
    font-size: 12px;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .metadata {
    font-size: 14px;
  }
}

.metadata i,
.metadata p {
  float: left;
}
.metadata p {
  margin-top: 0;
  margin-left: 10px;
}
.metadata i {
  color: #ff9d00;
  margin-top: 5px;
  margin-left: 1px;
}

.movieScrollBar::-webkit-scrollbar {
  height: 8px;
}

.movieScrollBar::-webkit-scrollbar-track {
  background: #000;
}

.movieScrollBar::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 4px;
}

.movieScrollBar::-webkit-scrollbar-thumb:hover {
  background: #999;
}
